{{!-- We can use this title variable becouse it's available in every file in "views" --}}
<header class = "nav">
        <h1>{{title}}</h1>
        <a href = 'http://localhost:3000/'>Weather</a>
        <a href = 'http://localhost:3000/help'>Help</a>
        <a href = 'http://localhost:3000/about'>About</a>

</header>