body
{
    color: #333333;
    font-family: arial;
    margin: 0 auto;
    max-width: 650px;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer
{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0; 
}
header
{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1
{
    font-size: 64px;
    margin-bottom: 16px;
}
/* looking for hyperlinks inside of header element */
header a 
{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.images_1
{
    width: 250px;
}
.container
{ 
    flex-grow: 1; /* it takes out all left-over space */
}
.submit-button
{
    cursor: pointer;
    padding: 8px;
    background: #888888;
    border: 1px solid #888888;
    color: white;
}
.location-input
{
    border: 1px solid #cccccc;
    padding: 8px;
}